 /**{
    border: 2px solid;
}*/
.entête{
    position: relative;
    overflow: auto;
}
h3{
    font-family: sans-serif;
    text-align: center;
}

h2{
    color: rgb(16, 148, 119);
    font-family: sans-serif;
    text-align: center;
}
mark{
    color: white;
    background-color: blue;
}

span{
    color: orange;
}
.con{
    color: rgb(53, 51, 51);
    padding-top: -25px;
    bottom: 0;
}
.hero{
    padding: 40px;
    width: 35%;
    
} /* mot de passe oublié*/
.oublié a{
    color: rgb(16, 148, 119);
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    float: right;
}
div a{
    color: rgb(14, 58, 179);
    
}
 body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    border: black;
   
 }
 form{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    margin: 0;
 }
 .con{
    text-align: center;
 }
.group-input {
    position: relative;
    border-bottom: 3px solid black;
    margin: 15px;
    padding-top:-8%;
    bottom: 0%;
    
}
.group-input label  {
    position: absolute;
    color: black;
    top: 30%;
    left: 0;
    transform: translate(-50%);
    bottom: -50%;
    margin-bottom: 10%;
}
/*champs de saisie*/
/*champs de saisie*/
.group-input input{
    position: relative;   
    top: -50%;
    top:30%;
    margin-top: -20%;
    margin-top: -30%;
    padding-top: 20%;
    color: black;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}
   /* bouton connecter */
 .hero .btn {
    display: flex;
    background: rgb(16, 148, 110);
    color: white;
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    border:none ;
    width: 100%; 
    align-items: center;
    justify-content: center; 
}
 .p2{
    text-align: center;
    color: rgb(44, 42, 42);
 }
  /* bouton google*/
 .btngoogle button {
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius:8px;
    border: 1px solid black;
    cursor: pointer;
    width: 45%;
    margin-left: 30%;
    padding: 5px;
    right: 50%;
    
 }
 /* icone google  */
 .btngoogle img{
    width: 40px;
    height: 40px;
}
 .entête img{
    width: 25px;
    height: 25px;
 }
 
 